body {
  text-align: center;
  background-color: aquamarine;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
}

p.yes {
  font-size: 25px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

img {
  border-radius: 50%;
  padding: 10px;

}

.reset-btn,
.auto-play {
  border-radius: 50px;
  padding: 8px 13px;
  background-color: greenyellow;
  border: 1px solid black;

}